<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NumberVideoSource</key>
	<dict>
		<key>number_40</key>
		<string>40.wav</string>
		<key>number_39</key>
		<string>39.wav</string>
		<key>number_38</key>
		<string>38.wav</string>
		<key>number_37</key>
		<string>37.wav</string>
		<key>number_36</key>
		<string>36.wav</string>
		<key>number_35</key>
		<string>35.wav</string>
		<key>number_34</key>
		<string>34.wav</string>
		<key>number_33</key>
		<string>33.wav</string>
		<key>number_32</key>
		<string>32.wav</string>
		<key>number_31</key>
		<string>31.wav</string>
		<key>number_30</key>
		<string>30.wav</string>
		<key>number_29</key>
		<string>29.wav</string>
		<key>number_28</key>
		<string>28.wav</string>
		<key>number_27</key>
		<string>27.wav</string>
		<key>number_26</key>
		<string>26.wav</string>
		<key>number_25</key>
		<string>25.wav</string>
		<key>number_24</key>
		<string>24.wav</string>
		<key>number_23</key>
		<string>23.wav</string>
		<key>number_22</key>
		<string>22.wav</string>
		<key>number_21</key>
		<string>21.wav</string>
		<key>number_20</key>
		<string>20.wav</string>
		<key>number_19</key>
		<string>19.wav</string>
		<key>number_18</key>
		<string>18.wav</string>
		<key>number_17</key>
		<string>17.wav</string>
		<key>number_16</key>
		<string>16.wav</string>
		<key>number_15</key>
		<string>15.wav</string>
		<key>number_14</key>
		<string>14.wav</string>
		<key>number_13</key>
		<string>13.wav</string>
		<key>number_12</key>
		<string>12.wav</string>
		<key>number_11</key>
		<string>11.wav</string>
		<key>number_10</key>
		<string>10.wav</string>
		<key>number_9</key>
		<string>9.wav</string>
		<key>number_8</key>
		<string>8.wav</string>
		<key>number_7</key>
		<string>7.wav</string>
		<key>number_6</key>
		<string>6.wav</string>
		<key>number_5</key>
		<string>5.wav</string>
		<key>number_4</key>
		<string>4.wav</string>
		<key>number_3</key>
		<string>3.wav</string>
		<key>number_2</key>
		<string>2.wav</string>
		<key>number_1</key>
		<string>1.wav</string>
		<key>number_0</key>
		<string>0.wav</string>
	</dict>
	<key>ActionVideoSource</key>
	<dict>
		<key>gao_tai_tui</key>
		<string>高抬腿.wav</string>
		<key>kuan_qian_bu_ji_rou_la_shen</key>
		<string>髋前部肌肉拉伸.mp3</string>
		<key>ke_jing_su_dong_tai_qian_la</key>
		<string>髂胫束动态牵拉.mp3</string>
		<key>jing_bu_qian_qu_la_shen</key>
		<string>颈部前屈拉伸.mp3</string>
		<key>jing_bu_ce_qu_la_shen</key>
		<string>颈部侧屈拉伸.mp3</string>
		<key>kao_qiang_dun</key>
		<string>靠墙蹲.wav</string>
		<key>deng_tai_jie</key>
		<string>蹬台阶.wav</string>
		<key>gui_zi_shou_cheng_hou_zuo</key>
		<string>跪姿手撑后坐.wav</string>
		<key>gui_zi_hou_la_gu_si_tou_ji</key>
		<string>跪姿后拉股四头肌.wav</string>
		<key>kua_gong_jian_bu</key>
		<string>跨弓箭步.wav</string>
		<key>wa_tiao</key>
		<string>蛙跳.wav</string>
		<key>tun_bu_ji_rou_la_shen</key>
		<string>臀部肌肉拉伸.wav</string>
		<key>tun_bu_wai_ce_ji_rou_jing_tai_la_shen</key>
		<string>臀部外侧肌肉静态拉伸.wav</string>
		<key>yao_bu_ji_rou_la_shen</key>
		<string>腰部肌肉拉伸.mp3</string>
		<key>bei_kuo_ji_la_shen</key>
		<string>背阔肌拉伸.mp3</string>
		<key>bei_qiao</key>
		<string>背桥.wav</string>
		<key>jian_bu_ji_rou_la_shen</key>
		<string>肩部肌肉拉伸.mp3</string>
		<key>gu_si_tou_ji_dong_tai_qian_la</key>
		<string>股四头肌动态牵拉.wav</string>
		<key>zhan_li_shou_chu_jiao</key>
		<string>站立手触脚.wav</string>
		<key>zhan_li_ce_juan_fu</key>
		<string>站立侧卷腹.wav</string>
		<key>zhan_zi_qian_bi_qu_ji_shen_zhan</key>
		<string>站姿前臂屈肌伸展.mp3</string>
		<key>zhan_zi_qian_bi_shen_ji_shen_zhan</key>
		<string>站姿前臂伸肌伸展.mp3</string>
		<key>zhi_li_ti_qian_qu_dong_tai_qian_la</key>
		<string>直立体前驱动态牵拉.wav</string>
		<key>shen_dun</key>
		<string>深蹲.wav</string>
		<key>kuo_xiong</key>
		<string>扩胸.wav</string>
		<key>kuai_bu_zou_lu</key>
		<string>快步走路.wav</string>
		<key>kai_he_tiao</key>
		<string>开合跳.wav</string>
		<key>ping_ban_zhi_cheng</key>
		<string>平板支撑.wav</string>
		<key>xiao_tui_wai_ce_shen_zhan</key>
		<string>小腿外侧伸展.wav</string>
		<key>xiao_tui_hou_qun_ji_rou_jing_tai_la_shen</key>
		<string>小腿后群肌肉静态拉伸.wav</string>
		<key>da_tui_hou_qun_ji_rou_la_shen</key>
		<string>大腿后群肌肉拉伸.wav</string>
		<key>da_tui_qian_qun_ji_rou_la_shen</key>
		<string>大腿前群肌肉拉伸.wav</string>
		<key>zuo_zi_hu_die_ya_tui</key>
		<string>坐姿蝴蝶压腿.wav</string>
		<key>zuo_zi_hu_die_shen_zhan</key>
		<string>坐姿蝴蝶伸展.mp3</string>
		<key>zuo_zi_jian_qian_bu_shen_zhan</key>
		<string>坐姿肩前部伸展.wav</string>
		<key>zuo_zi_ya_tui</key>
		<string>坐姿压腿.wav</string>
		<key>zuo_zi_qian_wan_shen_zhan</key>
		<string>坐姿前弯伸展.wav</string>
		<key>hou_ju_tui</key>
		<string>后举腿.wav</string>
		<key>juan_fu_zhuan_ti</key>
		<string>卷腹转体.wav</string>
		<key>juan_fu</key>
		<string>卷腹.wav</string>
		<key>dao_deng_che</key>
		<string>倒蹬车.wav</string>
		<key>fu_wo_bei_qi</key>
		<string>俯卧背起.wav</string>
		<key>fu_wo_zhi_cheng_qu_gan_xuan_zhuan</key>
		<string>俯卧支撑躯干旋转.wav</string>
		<key>fu_wo_cheng</key>
		<string>俯卧撑.wav</string>
		<key>fu_wo_bao_tou_bei_qi_zhuan_ti</key>
		<string>俯卧抱头背起转体.wav</string>
		<key>fu_wo_bao_tou_bei_qi</key>
		<string>俯卧抱头背起.wav</string>
		<key>fu_wo_y_zi_bei_qi</key>
		<string>俯卧y字背起.wav</string>
		<key>fu_wo_t_zi_bei_qi</key>
		<string>俯卧t字背起.wav</string>
		<key>ce_qiao_qi</key>
		<string>侧桥起.wav</string>
		<key>ce_wo_tai_tui</key>
		<string>侧卧抬腿.wav</string>
		<key>ce_wo_juan_fu</key>
		<string>侧卧卷腹.wav</string>
		<key>yang_wo_qi_zuo</key>
		<string>仰卧起坐.wav</string>
		<key>yang_wo_tai_tui</key>
		<string>仰卧抬腿.wav</string>
		<key>liang_tou_qi</key>
		<string>两头起.wav</string>
		<key>shang_bi_hou_qun_ji_rou_la_shen</key>
		<string>上臂后群肌肉拉伸.mp3</string>
		<key>tiao_sheng</key>
		<string>跳绳.mp3</string>
	</dict>
	<key>AssistVideoSource</key>
	<dict>
		<key>nevergiveup54321</key>
		<string>zai_jian_chi_5miao54321end.mp3</string>
		<key>allover</key>
		<string>gong_xi_wan_cheng_xun_lian.mp3</string>
		<key>once</key>
		<string>ci.mp3</string>
		<key>second</key>
		<string>miao.mp3</string>
		<key>minutes</key>
		<string>fen_zhong.mp3</string>
		<key>minute</key>
		<string>fen.mp3</string>
		<key>rest_over</key>
		<string>xiu_xi_jie_shu.mp3</string>
		<key>have_rest</key>
		<string>xiu_xi_yi_xia_ba.mp3</string>
		<key>last_action</key>
		<string>zui_hou_yi_dong_zuo.mp3</string>
		<key>next_action</key>
		<string>xia_yi_dong_zuo.mp3</string>
		<key>first_action</key>
		<string>di_yi_ge_dong_zuo.mp3</string>
		<key>5_Dgroup</key>
		<string>di_wu_zu.mp3</string>
		<key>4_Dgroup</key>
		<string>di_si_zu.mp3</string>
		<key>3_Dgroup</key>
		<string>di_san_zu.mp3</string>
		<key>2_Dgroup</key>
		<string>di_er_zu.mp3</string>
		<key>1_Dgroup</key>
		<string>di_yi_zu.mp3</string>
		<key>5_group</key>
		<string>wu_zu.mp3</string>
		<key>4_group</key>
		<string>si_zu.mp3</string>
		<key>3_group</key>
		<string>san_zu.mp3</string>
		<key>2_group</key>
		<string>liang_zu.mp3</string>
		<key>1_group</key>
		<string>yi_zu.mp3</string>
		<key>every_group</key>
		<string>mei_zu.mp3</string>
		<key>321go</key>
		<string>321go.mp3</string>
	</dict>
</dict>
</plist>
